*{
    margin: 0px;
    padding: 0px;
}
.bigimage{
    width: 1600px;
    height: 800px;
    background-image: url(banner.png);
    background-size: cover;
}
/* banner style */
.banner{
    align-items: center;
margin: 0 200px;
}
.banner-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    
}
